<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Random User Generator</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id="app">
		<img :class="gender" :src="picture" :alt="`${firstName} ${lastName}`">
		<h1>{{firstName}} {{lastName}}</h1>
		<h3>Email: {{email}}</h3>
		<button v-on:click="getUser()" :class="gender">Get Random User</button>
	</div>

<script src="https://unpkg.com/vue@3.0.5"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>